<app-Menu></app-Menu>
<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
    </div>
  </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
  <div id="registros">
    <div class="mr-auto"></div>
    <div class="form-row mt-2 mb-2">
      <div class="col-md-6">
        <p class="ml-2">REGISTROS</p>
      </div>
    </div>
    <div class="form-row mt-2 mb-2">
      <div class="col-md-3">
        <div class="form-inline mr-auto">
          <div class="form-group mb-2" style="width: 250px;">
            <input style="width: 250px;" type="text" class="form-control mr-2" placeholder="buscar"
              [(ngModel)]="filtroLista">
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <input style="width: 250px;" type="text" bsDaterangepicker class="form-control mr-2" placeholder="buscar por data"
              [(ngModel)]="daterange">
      </div>
      <button type="button" class="btn btn-outline-primary" (click)="limparFiltro()">
        <i class="fas fa-broom"></i>&nbsp;Limpar Filtro
      </button>
    </div>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Registro</th>
          <th>Valor</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody *ngIf="registrosFiltrados && registrosFiltrados.length">
        <tr *ngFor="let registro of registrosFiltrados">
          <!-- <tr> -->
          <td>{{registro.id}}</td>
          <td>{{registro.valor}}</td>
          <td>{{registro.data | DateTimeFormatPipe}}</td>
        </tr>
      </tbody>
      <tfoot *ngIf="!registrosFiltrados || registrosFiltrados.length < 1">
        <tr>
          <td colspan="7" class="text-center">
            Nenhum registro encontrado!
          </td>
      </tfoot>
    </table>
  </div>
</div>