<!-- 
    <div class="login">
        <div class="login-form">
            <div class="login-form-mrapper">
                <div class="login-tittle">Login</div>
                <i class="fas fa-users"></i>
                <form>
                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input tooltip="Informe seu Login" type="string" class="form-control" id="usuario" aria-describedby="emailHelp"
                            placeholder="Digite o usuário">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input tooltip="Informe sua Senha" type="password" class="form-control" id="senha" placeholder="Digite a Senha">
                    </div>
                    <button type="button" class="btn" tooltip="Acessar Sistema">Acessar</button>
                </form>
                
            </div>
        </div>
    </div> -->
<div class="login">
  <div id="container" class="text-center">
    <form class="form-signin">
      <h3 class="login-tittle h3 mb-3 font-weight-normal">
        Entre ou Cadastre-se
      </h3>
      <i class="fas fa-users mb-3"></i>
      <label for="inputEmail" class="sr-only">Login</label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Login"
        required=""
        autofocus=""
        tooltip="Informe seu Login"
      />
      <label for="inputPassword" class="sr-only">Senha</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Senha"
        required=""
        tooltip="Informe sua Senha"
      />
      <button class="btn btn-lg btn-primary btn-block" 
      tooltip="Monitorar meu Gasto!" type="submit">
        Acessar
      </button>
      <div class="login-cadastrar">Novo usuário?<a href="" class="aqui"> Cadastre aqui!</a></div>
      <p class="mt-5 mb-0 text-muted">© UMC | Sistemas de Informação</p>
      <p class="text-muted">2017 - 2020</p>
    </form>
  </div>
  <div class="banner-login">
    <h2 class="banner-tittle">MEMCH</h2>
    <h5 class="banner-tittle2">
      Monitoramento de Estado de Metragem Cúbica de Hidrômetro
    </h5>
    <img src="../../assets/images/monitor.png" alt="" />
  </div>
</div>
