<div class="login">
  <div id="container" class="text-center">
    <form class="form-signin">
      <h3 class="login-tittle h3 mb-3 font-weight-normal">
        Entre ou Cadastre-se
      </h3>
      <i class="fas fa-users mb-3"></i>
      <form [formGroup]="registerForm">
        <label for="inputText" class="sr-only">Login</label>
        <input type="text" id="inputText" class="form-control"
          [ngClass]="{'is-invalid': registerForm.controls.login.errors && registerForm.controls.login.touched}"
          formControlName="login" placeholder="Login" required="" autofocus="" tooltip="Informe seu Login" />
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control"
          [ngClass]="{'is-invalid': registerForm.controls.senha.errors && registerForm.controls.senha.touched}"
          formControlName="senha" placeholder="Senha" required="" tooltip="Informe sua Senha" />
        <button [disabled]="!registerForm.valid" class="btn btn-lg btn-primary btn-block" tooltip="Monitorar meu Gasto!"
          type="submit" (click)="fazerLogin()">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-droplet-half" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" />
            <path fill-rule="evenodd"
              d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z" />
          </svg>
          Acessar
        </button>
      </form>
      <div class="login-cadastrar">
        Novo usuário?<a href="" class="aqui"> Cadastre aqui!</a>
      </div>
      <p class="mt-5 mb-0 text-muted">© UMC | Sistemas de Informação</p>
      <p class="text-muted">2017 - 2020</p>
    </form>
  </div>
  <div class="banner-login">
    <h2 class="banner-tittle">MEMCH</h2>
    <h5 class="banner-tittle2">
      Monitoramento de Estado de Metragem Cúbica de Hidrômetro
    </h5>
    <!-- <img src="../../assets/images/monitor.png" alt="" /> -->
    <div style="font-size: 10em;">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-droplet-fill" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6zM6.646 4.646c-.376.377-1.272 1.489-2.093 3.13l.894.448c.78-1.559 1.616-2.58 1.907-2.87l-.708-.708z" />
      </svg>
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-droplet-half" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z">
        </path>
        <path fill-rule="evenodd"
          d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"></path>
      </svg>
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-droplet" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" />
        <path fill-rule="evenodd"
          d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z" />
      </svg>
    </div>
  </div>
</div>