<app-Menu></app-Menu>



<div id="regras">
  <div class="mr-auto"></div>
  <div>
    <button type="button" class="btn btn-outline-primary" (click)="openModal(template)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Cadastrar Nova Regra!
    </button>
  </div>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Valor</th>
        <th>Periodo</th>
        <th>Tipo</th>
        <th>Ativo</th>
      </tr>
    </thead>
    <tbody *ngIf="regras && regras.length">
      <tr *ngFor="let regra of regras">
        <!-- <tr> -->
        <td>{{regra.id}}</td>
        <td>{{regra.valor}}</td>
        <td>{{regra.periodo}}</td>
        <td>{{regra.tipo.descricao}}</td>
        <td *ngIf="regra.ativo">Sim</td>
        <td *ngIf="!regra.ativo">Não</td>
      </tr>
    </tbody>
    <tfoot *ngIf="!regras">
      <tr>
        <td colspan="7" class="text-center">
          Nenhuma regra encontrada!
        </td>
    </tfoot>
  </table>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Regra</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="registerForm">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Valor</label>
          <input type="text" class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('valor').errors && registerForm.get('valor').touched}"
            formControlName="valor">
          <div class="invalid-feedback">
            O valor é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Periodo</label>
          <input type="text" class="form-control" formControlName="periodo">
          <div class="invalid-feedback">
            O Periodo é obrigatório.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Tipo</label>
          <input type="text" class="form-control" formControlName="tipo">
          <div class="invalid-feedback">
            O Tipo é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Ativo</label>
          <input type="text" class="form-control" formControlName="ativo">
        </div>
      </div>
    </form>
    <br>
    <div class="modal-footer d-flex">
      <button class="btn btn-secondary" (click)="modalRef.hide()">
        Fechar
      </button>
      <button class="btn btn-primary ml-auto" (click)="salvarAlteracao()">
        Salvar Alterações
      </button>
    </div>
    <br>
    <br>
  </div>
</ng-template>

