<app-Menu></app-Menu>
<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
    </div>
  </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
  <div id="dashboard">
    <div class="row mt-3">
      <div class="col-md-10">
        <p class="ml-2" id="title">DASHBOARD INICIAL</p>
      </div>
      <button type="button" class="btn btn-outline-primary" (click)="alterarUsuario(template)">
        <i class="fas fa-user-edit"></i>&nbsp;Alterar Usuario
      </button>
    </div>
    <div class="row mt-3">
      <div *ngIf="!conexoes || conexoes.length < 1" class="col-md-12" style="height: 450px;">
        <div class="form-row">
          <i class="fas fa-skull-crossbones mb-3"></i>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <h1 class="text-center">
              Nenhuma conexão encontrada
            </h1>
            <div class="text-center ml-5">
              <h3>Primeiro entre no menu de conexões e incluia uma nova conexão com um hidrometro que deseja monitorar.
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-3  mb-3" *ngFor="let conexao of conexoes">
        <div class="card">
          <div class="card-body">
            <div *ngIf="!conexao.hidrometro.ativo">
              <p class="text-danger"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-slash"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M3.112 5.112a3.125 3.125 0 0 0-.17.613C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13H11l-1-1H3.781C2.231 12 1 10.785 1 9.318c0-1.365 1.064-2.513 2.46-2.666l.446-.05v-.447c0-.075.006-.152.018-.231l-.812-.812zm2.55-1.45l-.725-.725A5.512 5.512 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773a3.2 3.2 0 0 1-1.516 2.711l-.733-.733C14.498 11.378 15 10.626 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3c-.875 0-1.678.26-2.339.661zm7.984 10.692l-12-12 .708-.708 12 12-.707.707z" />
                </svg>&nbsp;&nbsp;desativado</p>
            </div>
            <div *ngIf="conexao.hidrometro.ativo" class="ativo">
              <p class="text-success">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-check" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                  <path fill-rule="evenodd"
                    d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                </svg>&nbsp;&nbsp;ativo</p>
            </div>
            <h5 class="card-title">Hidrometro: {{conexao.hidrometro.identificador}}</h5>

            <div class="btn-group">
              <button [disabled]="!conexao.hidrometro.ativo" (click)="OpenPage('registros', conexao.hidrometro.id)"
                class="btn btn-sm btn-primary">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-filter-square" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path fill-rule="evenodd"
                    d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                </svg>
                <p>Registros</p>
              </button>
              <button [disabled]="!conexao.hidrometro.ativo" (click)="OpenPage('regras', conexao.hidrometro.id)"
                class="btn btn-sm btn-secondary">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-layout-text-window-reverse"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2 1h12a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm12-1a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z" />
                  <path fill-rule="evenodd"
                    d="M5 15V4H4v11h1zM.5 4h15V3H.5v1zM13 6.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm0 3a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm0 3a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
                </svg>&nbsp;&nbsp;<p>Regras</p>
              </button>
              <button [disabled]="!conexao.hidrometro.ativo" (click)="OpenPage('alertas', conexao.hidrometro.id)"
                class="btn btn-sm btn-success">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-square" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path
                    d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                </svg>&nbsp;&nbsp;<p>Alertas</p>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">USUARIO</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm">
        <div class="form-row">
          <div class="form-group col-md-12 required">
            <label for="">Nome Completo:</label>
            <input type="text" class="form-control" formControlName="nome" [ngClass]="{'is-invalid': registerForm.get('nome').errors &&
            registerForm.get('nome').touched }" placeholder="Insira o Nome Completo" />
            <div *ngIf="registerForm.get('nome').hasError('required') &&
                    registerForm.get('nome').touched" class="invalid-feedback">
              Nome completo é obrigatório.
            </div>
            <div *ngIf="registerForm.get('nome').hasError('minlength') &&
                    registerForm.get('nome').touched" class="invalid-feedback">
              O nome deve ter no minimo 10 caracteres.
            </div>
            <div *ngIf="registerForm.get('nome').hasError('maxLength') &&
                    registerForm.get('nome').touched" class="invalid-feedback">
              O nome deve ter no maximo 40 caracteres.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="">CPF:</label>
            <input maxlength="11" class="form-control" type="text" formControlName="cpf" [ngClass]="{ 'is-invalid': registerForm.get('cpf').errors && 
            registerForm.get('cpf').touched}" placeholder="Insira seu CPF" />
            <div *ngIf="registerForm.get('cpf').hasError('required') &&
                    registerForm.get('cpf').touched" class="invalid-feedback">
              CPF é obrigatório.
            </div>
            <div *ngIf="registerForm.get('cpf').hasError('cpfInvalido') &&
                    registerForm.get('cpf').touched" class="invalid-feedback">
              O CPF deve ser válido.
            </div>
            <div *ngIf="registerForm.get('cpf').hasError('minlength') &&
                    registerForm.get('cpf').touched" class="invalid-feedback">
              O CPF deve ter no minimo 11 caracteres.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="">Email:</label>
            <input class="form-control" type="text" formControlName="email" [ngClass]="{'is-invalid': registerForm.get('email').errors &&
            registerForm.get('email').touched}" placeholder="Insira seu Endereço de Email" />
            <div *ngIf="registerForm.get('email').hasError('required') &&
                    registerForm.get('email').touched" class="invalid-feedback">
              Email é obrigatório.
            </div>
            <div *ngIf="registerForm.get('email').hasError('email') &&
                    registerForm.get('email').touched" class="invalid-feedback">
              Deve ser um e-mail válido
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="">Usuario:</label>
            <input class="form-control" type="text" formControlName="usuario" [ngClass]="{'is-invalid': registerForm.get('usuario').errors &&
                                    registerForm.get('usuario').touched}" placeholder="Insira o nome de Usuário" />
            <div *ngIf="registerForm.get('usuario').hasError('required') &&
                    registerForm.get('usuario').touched" class="invalid-feedback">
              Usuário é obrigatório.
            </div>
            <div *ngIf="registerForm.get('usuario').hasError('minlength') &&
                    registerForm.get('usuario').touched" class="invalid-feedback">
              O usuario deve ter no minimo 5 caracteres.
            </div>
            <div *ngIf="registerForm.get('usuario').hasError('maxLength') &&
                    registerForm.get('usuario').touched" class="invalid-feedback">
              O usuario deve ter no maximo 50 caracteres.
            </div>
          </div>
        </div>
        <div formGroupName="passwords">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="">Senha:</label>
              <input class="form-control" type="password" formControlName="senha" [ngClass]="{ 'is-invalid': registerForm.get('passwords.senha').errors &&
                                       registerForm.get('passwords.senha').touched}" placeholder="Digite uma Senha" />
              <div *ngIf="registerForm.get('passwords.senha').hasError('minlength') &&
              registerForm.get('passwords.senha').touched" class="invalid-feedback">
                A senha deve conter no mínimo 8 caracteres
              </div>
              <div *ngIf="registerForm.get('passwords.senha').hasError('maxLength') &&
              registerForm.get('passwords.senha').touched" class="invalid-feedback">
                A senha deve conter no maximo 50 caracteres
              </div>
              <div *ngIf="registerForm.get('passwords.senha').hasError('required') &&
                      registerForm.get('passwords.senha').touched" class="invalid-feedback">
                Senha é obrigatório.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="">Confirmar Senha:</label>
              <input class="form-control" type="password" formControlName="confirmarSenha" [ngClass]="{ 'is-invalid': registerForm.get('passwords.confirmarSenha').errors 
                         && registerForm.get('passwords.confirmarSenha').touched}" placeholder="Repita a Senha" />
              <div *ngIf="registerForm.get('passwords.confirmarSenha').hasError('required') &&
                      registerForm.get('passwords.confirmarSenha').touched" class="invalid-feedback">
                É necessário repetir a senha.
              </div>
              <div *ngIf="registerForm.get('passwords.confirmarSenha').hasError('mismatch') 
                      && registerForm.get('passwords.confirmarSenha').touched" class="invalid-feedback">
                As senhas não são compatíveis.
              </div>
            </div>
          </div>
        </div>
      </form>
      <br>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="modalRef.hide()">
          FECHAR
        </button>
        <button [disabled]="!registerForm.valid" class="btn btn-primary ml-auto"
          (click)="salvarAlteracao(template, modalRef)">
          SALVAR
        </button>
      </div>
    </div>
  </ng-template>
</div>