.register-parent {
    height: 100%;
    padding: 0 2%;
    background: linear-gradient(135deg, #FFFFFF, #808080 50%, #000000 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register {
    width: 100%;
    border-radius: 5%;
    max-width: 600px;
    padding: 20px;
    background-color: #FFFFFF;
}

.register label {
    color: #000000;
}

.register-tittle {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.btncad {
    display: inline-block;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    width: 25%;
    background-color: #006400;
    border: none;
    margin-top: 20px;
}

.btncan {
    display: inline-block;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    width: 25%;
    background-color: #8B0000;
    border: none;
    margin-top: 20px;
    margin-left: 275px;
}

.btncan:hover {
    border: none;
    color: #FFFFFF;
    transform: scale(1.05);
    transition: .2s;
    background-color: red;
}

.btncad:hover {
    border: none;
    color: #FFFFFF;
    transform: scale(1.05);
    transition: .2s;
    background-color: green;
}

.fa-user-plus {
    width: 100%;
    display: flex;
    margin: auto;
    font-size: 100px;
    color: #808080;
}

.page-tittle {
    height: 10%;
    font-size: 50px;
    padding: none;
    color: #000000;
}

.page-tittle2 {
    height: 10%;
    font-size: 20px;
    padding: none;
    color: #000000;
}