#sidebarSecodLevel {
  left: 16%;
}

body {
  font-size: 0.875rem;
}

.bg-menu{
  background-color: #343a40!important;
}

.bg-menu-second {
  background-color: hsl(210 10% 17% / 1)!important;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-sticky-second {
  position: relative;
  top: 0;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.603);
  left: 100%;
  top: -102%;
  height: 5000%;
  width: 5000%;
  display: flex;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #a8a8a8;
}

.sidebar .nav-link-title {
  font-weight: 500;
  color: #a8a8a8;
}

.sidebar .nav-link-second {
  font-weight: 500;
  color: rgb(218, 218, 218);
  padding: 0.5rem 3rem;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
   * Navbar
   */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

div.menu ul li a:hover {
  color: #b1b1b1;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  transform: scale(1.07);
  transition: 0.2s;
}

.sidebar .nav-link:hover {
  font-weight: 500;
  color: #a8a8a8;
  margin-left: 20px;
  font-weight: bold;
  transform: scale(1.07);
  transition: 0.2s;
}

div.menu ul li svg {
  color: #999999;
  font-size: 25px;
}